header {
    display: flex;
    background: #555555;
    padding: 0.2em 10em;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 30px;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline;
}

header ul li a {
    color: #eeeeee;
    padding: 0 0.5em;
    text-decoration: none;
}

