html {
    font-family: 'Roboto', sans-serif;
}

header {
    background: #ebebeb;
}

header .wrapper, main section#slide .slide-wrapper, main section#categories, main section#contacts {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

 header .wrapper img {
     max-height: 50px;
     width: auto;
     padding: 10px 0;
 }

 header .wrapper nav ul {
     list-style: none;
 }

 header .wrapper nav ul li {
     display: inline;
 }

 header .wrapper nav ul li a {
     text-decoration: none;
     color: red;
     font-size: 1.2em;
     margin-right: 20px;
 }

header .wrapper nav ul li:last-child a {
    margin-right: 0;
}

main section#slide {
    background: url("https://raw.githubusercontent.com/PSlekys/CodeAcademyLT/master/HTML/10%20u%C5%BEduotis%20(Yamaha)/images/bike-rider.jpg");
    background-size: cover;
}

main section#slide .slide-wrapper {
    position: relative;
    min-height: 80vh;
}

main section#slide .slide-wrapper h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:rgba(250,0,0,0.5);
    padding: 10px 0;
}

main section#categories h2, main section#contacts h2 {
    color: red;
    width: 100%;
}

main section#categories h2 span, main section#contacts h2 span {
    opacity: 0.5;
}

main section#categories .category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(25% - (10px *3/4));
    border: 1px solid #DBDEE5;;
    padding: 0.5em;
    box-sizing: border-box;
    margin-right: 10px;
    background-color: #F3F6F8;
}

main section#categories .category:last-child {
    margin-right: 0;
}

main section#categories .category img {
    max-width: calc(100% - 4px);
    height: auto;
    object-fit: contain;
    padding: 10px;
}

main section#categories .category h3:before {
    content: "\2666";
    padding-right: 10px;
}

main section#categories .category p {
    text-align: justify;
    color: #444;
    font-size: 0.9em;
}

main section#contacts {
    display: flex;
    align-items: flex-start;
}

main section#contacts .form {
    width: calc((25% - (10px *3/4))*2 + 10px);
    min-height: 20vh;

}

main section#contacts .form input, textarea {
    width: calc(100%);
    padding: 0.4em;
    margin-top: 0.4em;
    box-sizing: border-box;
}

main section#contacts .form input.button {
    width: 30%;
    padding: 0.4em;
    margin-top: 0.4em;
    background: none;
    border: 1px solid red;
}

main section#contacts .form input.button:hover {
    background: red;
    color: #eeeeee;
}

main section#contacts .map {
    width: calc((25% - (10px *3/4))*2 + 10px);
    min-height: 20vh;
    margin-left: 10px;
}

main section#contacts .map img {
    max-width: 100%;
}

footer {
    margin-top: 0.5em;
    text-align: center;
    background: #ebebeb;
    color: #444444;
    padding: 0.7em;
}

@media only screen and  (max-width: 550px) {
    header .wrapper {
        flex-direction: column;
    }

    header .wrapper nav ul {
        padding: 0 0.2em;
    }

    header .wrapper nav ul a {
        margin: 0 0.5em;
    }

    header .wrapper nav ul li:last-child a {
        margin: 0 0.5em;
    }
}

