html {
    font-family: 'Roboto', sans-serif;

    height: 200vh;
}

header {
    background-color: #ebebeb;
}

header.wrapper, main {
    background: url("https://raw.githubusercontent.com/PSlekys/CodeAcademyLT/master/HTML/10%20u%C5%BEduotis%20(Yamaha)/images/bike-rider.jpg");
    background-size: cover;
}

header .wrapper, main section#slide {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 header .wrapper img {
     max-height: 50px;
     width: auto;
     padding: 10px 0;
 }

 header .wrapper nav ul {
     list-style: none;
 }

 header .wrapper nav ul li {
     display: inline;
 }

 header .wrapper nav ul li a {
     text-decoration: none;
     color: red;
     font-size: 1.2em;
     margin-right: 20px;
 }

header .wrapper nav ul li:last-child a {
    margin-right: 0;
}

main section#slide {
    position: relative;
    min-height: 80vh;
}

main section#slide h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:rgba(250,0,0,0.5);
    padding: 10px 0;
}

